 body{
    background-color: rgb(12, 168, 168);
 }

 .container {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px 60px;
      
}

.card{
    height: 500px;
    margin: 50px;
    box-shadow:5px 5px 20px black ;
    background-color: rgb(11, 101, 101);
    overflow: hidden;
    cursor: pointer;
}

img{
    height: 500px;
    
}

.intro{
    height: 80px;
    width: 430px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background-color: transparent;
    color: #fff;
    bottom: 34px;
    transition: .5s;
    text-align: center;
    
}

h1{
    margin: 10px;
    font-size: 40px;

}

p{
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

.card:hover .intro{
    height: 180px;
    width: 755px;
    bottom: 40px;
    color: #000;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card:hover p{
    opacity: 1;
    visibility: visible;
}


