
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
body {
    font-family: Arial, sans-serif;
    overflow: hidden; 
}
section {
    height: 100vh;
    background: #111;
    position: relative;
    color: #ddd;
}
h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 5em;
    letter-spacing: 0.2em;
    z-index: 1; 
}
.smoke {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('smoke.png') center/cover no-repeat;
    animation: animate 10s linear infinite;
    opacity: 0.5; 
    z-index: 0; 
}
@keyframes animate {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}
