*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(9, 125, 131, 0.939);;
    color: #fff;
}
.number-counter{
    width: 40%;
    height: 400px;
    background: rgba(14, 198, 222, 0.883);
    border-radius: 16px;
    box-shadow: 30 40px 300px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
}
.heading{
    padding-bottom: 50px;
    font-size: 2.5rem;
    color:black ;
    display: flex;
    justify-content: center;   
}
.heading, h2{
    margin-top: 50px;
}
button{
    border: none;
    cursor: pointer;
}
.btn-reset{
    display: block;
    margin: 2.5rem auto;
    padding: 1.25rem;
    background: #fff;
    color: #000;
    border-radius: 1rem;
    font-size: 20px;
}
.btn-reset:hover {
    background: rgba(14, 198, 222, 0.883) ;

}
.counter-container{
    position: relative;
    width: 100%;
    max-width: 14rem;
    height: 14rem;
    background: #fff;
    margin:1rem auto ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.counter{
    font-size: 4rem;
    color: #000;
}
.btn-operator{
    position: absolute;
    width: 3.8rem;
    height:3.8rem;
    background: #000;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 3.5rem;
}
.btn-operator:hover{
    background: white;
    color: #000;
}
.increase{
    bottom: 10%;
    right: -15%;
}
.decrease{
    bottom: -10%;
    right: 15%;
}





