*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(39, 156, 156);
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    position: relative;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 40px 90px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding: 10px;
}
#container i{
    color: #fff;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.6;

}